<div class="container my-5 d-flex justify-content-center">
    <div class="bg-white text-dark p-4" style="max-width: 500px;">
        <div class="d-flex align-items-center justify-content-center">
            <div class="me-3">
                <i class="bi bi-camera2 fs-1"></i> <!-- Ikona kamery z Bootstrap Icons -->
            </div>
            <div>
                <a href="https://www.facebook.com/FeelTheSalsa/photos/?tab=album&amp;ref=" 
                   class="btn btn-dark" target="_blank" rel="nofollow">
                    Obejrzyj zdjęcia z dawnych czasów 🙂
                </a>
            </div>
        </div>
    </div>
</div>