<section class="py-5 bg-light">
    <div class="container">
        <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
            <div class="ratio ratio-16x9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9rY0jweJcxQ?si=FYsiJ8x5pHmdgvpJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>