{% trans_default_domain 'about' %}
<div class="text-center my-5">
	<h4>{{ 'social_title'|trans }}</h4>
	<div class="elementor-social-icons-wrapper elementor-grid text-center mt-4">
		<span class="elementor-grid-item">
			<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook" href="{{ links.facebook }}" target="_blank" rel="nofollow">
				<i class="bi bi-facebook" style="font-size: 36px; background-color: #3b5998; color: white; padding: 20px; border-radius: 50%;"></i>
			</a>
		</span>
		<span class="elementor-grid-item">
			<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube" href="{{ links.youtube }}" target="_blank" rel="nofollow">
				<i class="bi bi-youtube" style="font-size: 36px; background-color: #ff0000; color: white; padding: 20px; border-radius: 50%;"></i>
			</a>
		</span>
		<span class="elementor-grid-item">
			<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram" href="{{ links.instagram }}" target="_blank" rel="nofollow">
				<i class="bi bi-instagram" style="font-size: 36px; background-color: #e4405f; color: white; padding: 20px; border-radius: 50%;"></i>
			</a>
		</span>
	</div>
</div>
