<div class="dropdown">
	<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="bi bi-globe2"></i>
		{{ app.request.locale|upper }}
	</button>
	<ul class="dropdown-menu">
		<li class="nav-item">
			<a class="dropdown-item" href="{{ path('change_language', {'locale': 'pl'}) }}">PL</a>
		</li>
		<li class="nav-item">
			<a class="dropdown-item" href="{{ path('change_language', {'locale': 'en'}) }}">EN</a>
		</li>
	</ul>
</div>
